.hamburger-menu {
  @include mq-up(lg) {
    display: none;
  }
  & button {
    position: fixed;
    right: calc((12px * 100dvw) / 375px);
    top: calc((16px * 100dvw) / 375px);
    z-index: 1111;

    & img {
      width: calc((32px * 100dvw) / 375px);
    }
  }
  & ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: calc((64px * 100dvw) / 375px) calc((32px * 100dvw) / 375px) calc((32px * 100dvw) / 375px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calc((20px * 100dvw) / 375px);
    background: linear-gradient(to right, #25a5d8 0%, #1bb3b7 100%);
    z-index: 1110;

    & li {
      & a {
        color: #fff;
        font-size: calc((22px * 100dvw) / 375px);
      }
      &:last-child {
        margin-top: auto;
      }
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    gap: calc((12px * 100dvw) / 375px);
  }
  &__footerLink {
    color: #fff;
    font-size: calc((14px * 100dvw) / 375px) !important;
  }
  &__footerLinkIcon {
    & img {
      width: calc((48px * 100dvw) / 375px);
      height: auto;
    }
  }
}
