/* Variables / Mixins */
@import "variables";
@import "mixins";

/* Reset CSS */
@import "reset";

/* Theme */
@import "theme";

/* blocks */
@import "blocks/about-3rd-lab";
@import "blocks/about-community";
@import "blocks/community-attempt";
@import "blocks/company";
@import "blocks/d";
@import "blocks/event";
@import "blocks/footer";
@import "blocks/hamburger-menu";
@import "blocks/header";
@import "blocks/overview";
@import "blocks/resources";
@import "blocks/section";
@import "blocks/toggle";
@import "blocks/top";
