.overview {
  padding-top: calc((32px * 100dvw) / 1920px);

  @include mq-down(lg) {
    padding-top: calc((96px * 100dvw) / 375px);
  }
  &__container {
    // keep
  }
  &__card {
    background: #fff;
    border-radius: calc((32px * 100dvw) / 1920px);
    padding: calc((144px * 100dvw) / 1920px) calc((96px * 100dvw) / 1920px);

    @include mq-down(lg) {
      border-radius: calc((16px * 100dvw) / 375px);
      padding: calc((64px * 100dvw) / 375px) calc((24px * 100dvw) / 375px);
    }
  }
  &__cardText {
    & > p {
      padding: calc((64px * 100dvw) / 1920px) 0;
      font-size: calc((24px * 100dvw) / 1920px);
      line-height: 175%;

      @include mq-down(lg) {
        padding: calc((32px * 100dvw) / 375px) 0;
        font-size: calc((16px * 100dvw) / 375px);
      }
    }
  }
  &__mainImageAlt {
    padding: calc((64px * 100dvw) / 1920px) 0;

    @include mq-down(lg) {
      padding: calc((32px * 100dvw) / 375px) 0;
      width: calc(100% + ((48px * 100dvw) / 375px));
      margin-left: calc((-24px * 100dvw) / 375px);
    }
  }
  &__contentGap {
    padding-top: calc((160px * 100dvw) / 1920px);

    @include mq-down(lg) {
      padding-top: calc((80px * 100dvw) / 375px);
    }
  }
  &__title {
    font-weight: 700;
    font-size: calc((64px * 100dvw) / 1920px);
    text-align: center;
    background: linear-gradient(321.65deg, #25A5D8 15.64%, #2ACDD1 81.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include mq-down(lg) {
      font-size: calc((32px * 100dvw) / 375px);
    }
  }
  &__titleNote {
    font-weight: 700;
    font-size: calc((32px * 100dvw) / 1920px);
    text-align: center;
    background: linear-gradient(321.65deg, #25A5D8 15.64%, #2ACDD1 81.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include mq-down(lg) {
      font-size: calc((16px * 100dvw) / 375px);
    }
  }
  &__subTitle {
    font-weight: 700;
    font-size: calc((56px * 100dvw) / 1920px);
    text-align: center;
    background: linear-gradient(321.65deg, #25A5D8 15.64%, #2ACDD1 81.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include mq-down(lg) {
      font-size: calc((32px * 100dvw) / 375px);
    }
  }
  &__titleGap {
    padding-top: calc((24px * 100dvw) / 1920px);

    @include mq-down(lg) {
      padding-top: calc((12px * 100dvw) / 375px);
    }
  }
  & ul {
    display: flex;
    flex-direction: column;
    gap: calc((32px * 100dvw) / 1920px);
    padding-top: calc((96px * 100dvw) / 1920px);

    @include mq-down(lg) {
      padding-top: calc((48px * 100dvw) / 375px);
      gap: calc((48px * 100dvw) / 375px);
    }
    & li {
      display: flex;
      align-items: stretch;

      @include mq-down(lg) {
        flex-direction: column;
      }
    }
  }
  &__listHead {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc((240px * 100dvw) / 1920px);
    padding: 0 calc((16px * 100dvw) / 1920px);
    border-right: calc((4px * 100dvw) / 1920px) solid #1bb3b7;
    font-size: calc((24px * 100dvw) / 1920px);
    font-weight: 600;
    text-align: right;
    letter-spacing: .1em;

    @include mq-down(lg) {
      justify-content: flex-start;
      width: 100%;
      padding: 0 0 calc((8px * 100dvw) / 375px);
      border-right: none;
      border-bottom: calc((3px * 100dvw) / 375px) solid #1bb3b7;
      font-size: calc((16px * 100dvw) / 375px);
      text-align: left;
    }
  }
  &__listContent {
    width: calc(100% - ((240px * 100dvw) / 1920px));
    padding: 0 calc((16px * 100dvw) / 1920px);
    font-size: calc((24px * 100dvw) / 1920px);

    @include mq-down(lg) {
      width: 100%;
      padding: calc((8px * 100dvw) / 375px) 0 0;
      font-size: calc((16px * 100dvw) / 375px);
    }
  }
}


