.section {
  background: #fff;

  & img {
    width: 100%;
  }
  &--footButtonSp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc((16px * 100dvw) / 375px);
    position: sticky;
    bottom: 0;
    padding: calc((16px * 100dvw) / 375px) calc((48px * 100dvw) / 375px);
    z-index: 1109;

    @include mq-up(lg) {
      display: none;
    }
    & img {
      max-height: calc((40px * 100dvw) / 375px);
    }
  }
}